@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
$primary-color: #1A73FC;

body {
  font-family: 'OpenSans-Regular';
}
// Navbar css
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2.5rem !important;
  font-size: 14px !important;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}



.dropdown-menu{
// left: -2em !important;
}
.navbar{
  border-bottom: 1px solid #EBEBEB;
  background-color: #fff;
  .logo{
    width: 20vw;
    height: 12vh;
  }
 }
 @media only screen and (max-width: 400px) {
  .navbar{
    .logo{
        width:100%;
    }
  }

}
 @mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
 .btn{
  color:white;
  text-decoration:none;
  padding:.5em 6em;
  border-radius:4px;
  font-size:18px;
  font-weight: 700;
  text-align: center;
 }

.btn-blue {
  @include button-bg(#0D6EFD);
}
 .home_section{   
   padding-top: 5em ;
  .home_content{
    margin: 5em auto;
    width: 50%;
    p{
      line-height: 1.5em;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .home_image{
    width: 48vw;
  }
}
@media only screen and (max-width: 768px) {
  .home_section {
    padding-top: 3em;
    .home_content{
      margin: auto;
      text-align: center;
      width: 100%;
    }
    .home_image{
      padding-top: 30px;
      width: 100%;
    }
  }
}
  .bold_content{
          font-weight: bold;
          font-size: 48px;
        }
 .background-shapes .box1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 20px;
  height: 20px;
  border: 3px solid #0d6efd;
  border-radius: .35rem;
  background-color: transparent;
  z-index: 1;
  -webkit-animation: box-shape linear 5s infinite;
          animation: box-shape linear 5s infinite; }

.background-shapes .box2 {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #0d6efd;
  border-radius: .35rem;
  background-color: transparent;
  z-index: 1;
  -webkit-animation: box-shape linear 8s infinite;
          animation: box-shape linear 8s infinite; }

.background-shapes .box3 {
  position: absolute;
  top: 30%;
  right: 15%;
  width: 20px;
  height: 20px;
  border: 3px solid #0d6efd;
  border-radius: .35rem;
  background-color: transparent;
  z-index: 1;
  -webkit-animation: box-shape linear 9s infinite;
          animation: box-shape linear 9s infinite; 
        
}

.background-shapes .dot1 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #0d6efd;
  top: 77%;
  left: 6%;
  z-index: 1;
  border-radius: 50%; }

.background-shapes .dot2 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  top: 18%;
  right: 4%;
  z-index: 1;
  border-radius: 50%; }

.background-shapes .dot3 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  top: 90%;
  left: 43%;
  z-index: 1;
  border-radius: 50%; }

.background-shapes .dot4 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #0d6efd;
  top: 91%;
  right: 5%;
  z-index: 1;
  border-radius: 50%; }

.background-shapes .heart1 {
  font-size: 1.5rem;
  position: absolute;
  top: 51%;
  left: 13%;
  z-index: 1;
  color: #f4284a;
  -webkit-animation: box-shape linear 9s infinite;
          animation: box-shape linear 9s infinite; }

.background-shapes .heart2 {
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
  right: 8%;
  z-index: 1;
  color: #f4284a;
  -webkit-animation: box-shape linear 12s infinite;
          animation: box-shape linear 12s infinite; }

.background-shapes .circle1 {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #f4284a;
  bottom: 10%;
  left: 21%;
  z-index: 1;
  -webkit-animation: box-shape linear 4s infinite;
          animation: box-shape linear 4s infinite; }

.background-shapes .circle2 {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #f4284a;
  top: 24%;
  left: 52%;
  z-index: 1;
  -webkit-animation: box-shape linear 4s infinite;
          animation: box-shape linear 4s infinite; 
        
}

.dashed_line{
    margin-top: 2em;
    border: 0 none;
    border-top: 2px dashed #EBEBEB !important;
    background: none;
    height:0;
}

//  FEATURE SECTION CSS 
.feature_content{
  padding-top: 2em;
  justify-content: center;
  .feature_title{
    text-align: center;
  }
  .feature_grid_content{
    padding-top: 3em;
  }
}
.feature-button{
  text-transform: uppercase;
  font-size: 14px;
}
.line {
  width: 120px;
  height: 5px;
  margin: 30px auto 0;
  border-radius: 6px;
  background: #2d2ed4;
  background: -webkit-gradient(linear, left top, right top, from(#e24997), to(#2d2ed4));
  background: linear-gradient(to right, #e24997, #2d2ed4);
}

@mixin circle-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
.circle-icon {
  width: 100px;
  height: 100px;
  border-radius: 8%;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  padding: 20px;
  color: white;
}
.circle-blue {
  @include circle-bg( #1A73FC);
}
.circle-green{
  @include circle-bg(#4AD384)
}
.circle-red{
  @include circle-bg(#F54562)
}
.circle-yellow{
  @include circle-bg(#F1C71F)
}
.circle-sky-blue{
  @include circle-bg(#21CEF1)
}
.circle-purple{
  @include circle-bg(#1F2267)
}
.about_area{
  text-align: center;
  line-height: 2em;
  .about_title{
    padding-top: 1em;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #0d6efd;
    }
  }
  .sub_content{
    color: #7C838E;
  }
}
@media only screen and (max-width: 768px) {
  .about_area{
    padding-top: 2em;
  }
}
.fas{
  font-size: 3em;
}
// VIDEO CSS
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.wave_container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding:2em;
  vertical-align: middle;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  .video_content{
    color: white;
    width: 50%;
    margin:3em auto;
    justify-content: center;
    h3{
      font-weight: bold;
      font-size: 2.5em;
    }
    p{
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .wave_container {
    .video_content{
      margin: 0 auto;
    }
  }
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}
.video-btn{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 25px 34px;
  border: none;
  background-color: white; 
  color: #e24997 !important;
  // margin-top: 10em;
}

//  OUR TEAM CSS
.our_team{
  padding-top: 2em;
  text-align: center;
  .our_team_card{
    padding-top: 3em;
  }
  .card{
    width: 16rem;
    margin: auto;
    padding-top: 1em;
  }
  p{
    color: #7C838E;
    line-height: 2em;
    font-size: 18px;
  }
  .card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
  .social_icon{
    list-style: none;
    display: flex;
  }
  .icon{
    font-size: 20px;
    padding: .6em;
  }
}
@media only screen and (max-width: 400px) {
  .our_team {
    .card{
      margin: .8em auto;
      padding-top: 8em;
    }
  }
}